@model List<VehicleMaster>

<table>

    @foreach(var t in Model)
    {
        <tr>
            <td>@t.PlateNumber</td>
            <td>@t.Model</td>
            <td>@t.Type</td>
            <td>@t.Make</td>
            <td>

                <a asp-controller="VehicleInfo" asp-action="DeleteInfo" asp-route-id="@t.Id">Delete</a>
                <a asp-controller="VehicleInfo" asp-action="Index" asp-route-id="@t.Id">Edit</a>
            </td>
        </tr>

    }
        

</table>